@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes shrink {
  0% {
    font-size: 11rem;
  }
  100% {
    font-size: 6rem;
  }
}

@keyframes grow {
  0% {
    font-size: 6rem;
  }
  100% {
    font-size: 11rem;
  }
}
